/* default style from react */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* myStyle */
body{
  background-image:url('./resources/backgroundImg.png');
  background-size: 50%;
  color: white;
}
header{
  position: fixed;
  top:0;
  background-color: rgba(21, 111, 172,0.9);
  width:100vw;

}
form{
display: flex;
}
main{
  display: flex;

}
footer{
  position: fixed;
  padding:0.5rem;
  bottom :0 ;
  text-align: center;
  width:100vw;
  background-color: rgba(21, 111, 172,0.9);
}
